<h1 style= "text-align:center">BEAUTY FIRST</h1>
<div class= "cards-container">
 <div class="card-trip">
    <%= image_tag "manicure" %>
    <div class="card-trip-infos">
      <div>
        <h2>Manicure</h2>
        <p>find the best manicure in town</p>
      </div>
      <div>
        <a href="#" class="btn btn-primary">book here</a>
        <h2 class="card-trip-pricing">40€</h2>
      </div>
    </div>
  </div>
 <div class="card-trip">
    <%= image_tag "massage" %>
    <div class="card-trip-infos">
      <div>
        <h2>Massages</h2>
        <p>relaxing massage sessions</p>
      </div>
      <div>
        <a href="#" class="btn btn-primary">book here</a>
        <h2 class="card-trip-pricing">60€</h2>
      </div>
    </div>
  </div>
   <div class="card-trip">
    <%= image_tag "hair-cut" %>
    <div class="card-trip-infos">
      <div>
        <h2>Haircut</h2>
        <p>all the best salons of lisbon</p>
      </div>
      <div>
        <a href="#" class="btn btn-primary">book here</a>
        <h2 class="card-trip-pricing">30€</h2>
      </div>
    </div>
  </div>


</div>
