
.form-control {
margin: 5px;
width: 80%,
}

h4 {
  margin-top: 20px;
}

.btn-primary{
  margin-bottom: 20px;
}

#booking_end_date {
  border-radius: 4px;
}

#booking_start_date {
  border-radius: 4px;
}
