.banner {
  background-color: #DDBEA9;
   line-height: 100px;;
    margin-top: 60px;
}

.text-position {
  position: relative;
  padding-top: 30px;
}

h1 {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: #F0EFEB;
}



.team-container {
   display: flex;
  align-items: center;
  justify-content: center;

}


.may {
  margin-right: 20px;
}

.trist {
  margin-left: 20px;
}
