<div class="hero-image">
  <div class="hero-text">
    <h3> Welcome to your first beauty App!</h3>
    <p>Checkout all our services</p>
    <button class="btn btn-primary">discover</button>
  </div>
</div>
