<div class= banner><h1>OUR TEAM MEMBERS</h1>
<h2>we are proud to have created our first website</h2>
</div>

<div class= "team-container">
  <div class="team-position">
    <%= image_tag "mayen.jpg", class: "avatar-large may", alt: "avatar-large" %>
    <%= image_tag "belle gosse.JPG", class: "avatar-large jo", alt: "avatar-large" %>
    <%= image_tag "relou.jpg", class: "avatar-large trist", alt: "avatar-large" %>
  </div>
</div>