
.hero-image {
  background-image: url(cover.jpg);
  height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.btn-primary {
  color: white;
  border-radius: 10px;
  border:none;
  padding: 10px 15px;
}

.btn:hover {
 background-color:#ce9a4c;
 opacity: 0.5;
}

.hero-text {
  text-align: center;
  padding: 50px 0;
}

h3 {
  color:white;
}

p {
  color:white;
}



