
.hero-image {
  background-image: url(cover.jpg);
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h3 {
  color:white;
}

p {
  color:white;
}
