.cards-1 {
text-align: center;
}

.text-centered {
 color: #6E798C;
 font-family: roboto;
 margin-top:130px;
 margin-bottom: 20px;
 text-align: center;
}

.text-centered:hover {
   color: #black;
}

.card-1:hover {
background-color: #eeeeeb;
}

