

.card-1 p {
  opacity: .5;
  color:black;
}

.card-1 {
 justify-content: space-between;
}

.cards {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

p {
    color: #cb997e;
}
