.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.item {
  grid-column-start: 4;
  grid-row-start: 1;
  grid-row-end: span 3;
}

#map {
  position: sticky;
  top: 0;
  flex-grow: 1;
  margin-bottom: 16px;
}

.mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan, .mapboxgl-canvas-container.mapboxgl-touch-zoom-rotate.mapboxgl-touch-drag-pan .mapboxgl-canvas {
  touch-action: none;
  margin-top: 37px;
}