.navbar-lewagon {
  position: sticky;
  top:0;
  background: #F0EFEB;
  z-index: 1;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 90px;

}

.collapse .navbar-collapse ul li{
  display: inline;
}



.navbar-light .navbar-nav .nav-link {
   display:flex;
    color: #CB997E;
}


.content-center{
  justify-content:space-between;


}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active{
  color: #CB997E;
  text-align:center;
}

.mr-auto {
  padding-left: 3px;
  padding-right: 3px;
  color: #CB997E;
  padding: 0px 20px;
  border: none;
}

.mr-auto li {
  display: inline;
  padding: 10px;
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}


