.navbar-lewagon {
  position: sticky;
  top:0;
  background: #F0EFEB;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 90px;

}

.collapse .navbar-collapse ul li{
  display: inline;
}



.navbar-light .navbar-nav .nav-link {
   display:flex;
    color: #CB997E;
}


.content-center{
  justify-content:space-between;


}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active{
  color: #CB997E;
  text-align:center;
}

.mr-auto {
  padding-left: 3px;
  padding-right: 3px;
  color: #CB997E;
  padding: 0px 20px;
  border: none;
}

.mr-auto li {
  display: inline;
  padding: 10px;
}


