.search-form-control {
  position: relative;
}

.search-form-control .btn-search {
  position: absolute;
  top: 8px;
  bottom: 8px;
  right: 8px;
  padding: 10px;
}

.search-form-control .form-control {
  height: 3.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  border: 1px solid #E7E7E7;
}

.btn-search:not(:disabled):not(.disabled) {
    cursor: pointer;
    margin: 2px;
    margin-right: 140px;
}
