


  <p class="t"> Add a review on your service <%= @service.title %></p>
   <%= simple_form_for [@service,@review] do |f| %>
    <%= f.input :comment %>
    <div class="rating-container">
      <input type="radio" name="review[rating]" value="5" id="star-5"> <label for="star-5"><i class="fas fa-star"></i></label>
      <input type="radio" name="review[rating]" value="4" id="star-4"> <label for="star-4"><i class="fas fa-star"></i></label>
      <input type="radio" name="review[rating]" value="3" id="star-3"> <label for="star-3"><i class="fas fa-star"></i></label>
      <input type="radio" name="review[rating]" value="2" id="star-2"> <label for="star-2"><i class="fas fa-star"></i></label>
      <input type="radio" name="review[rating]" value="1" id="star-1"> <label for="star-1"><i class="fas fa-star"></i></label>
    </div>
    <%#= f.input :ratings, collection: (1..5).to_a, label: "Rate your experience" %>
    <%= f.submit class: 'btn btn-primary review-btn' %>

    <% end %>



