


  <p class="t"> Add a review on your service <%= @service.title %></p>
   <%= simple_form_for [@service,@review] do |f| %>
    <%= f.input :comment %>
    <%= f.submit class: 'btn btn-primary review-btn' %>
    <% end %>

